*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    

}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #ba0202, #000000);
    /* background: linear-gradient(180deg, #04048e, #e60e4b); */

}
.container{
    /* border: 2px solid yellow; */
    position : relative;
    max-width: 300px ;
    width: 100%;
    border-radius: 12px;
    padding: 10px 20px 20px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

   

}
.buttons{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4,1fr);

}
.display{
    height: 80px;
    width: 100%;
    text-align: right;
    font-size: 25px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    pointer-events: none;




}
.buttons button{
    /* color: red; */
    padding: 10px;
    border-radius: 7px;
    border: none;
    font-size: 20px;
    cursor: pointer;

    background-color: #eee;
    

}
.buttons button:hover{
    background-color:#ddd;

}
.buttons button:active{
    background-color: #ccc;
    transform: scale(0.95);
}
.operator{
    
    color: white;
   background-color: orange !important;
}

.operator:hover{
    background-color: #ff8c00 !important;
}

.link{
    margin-top: 100px;
    text-align: center;

    font-size: 20px;
 
    
    

}